*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}
body{
    font-family: helvetica , sans-serif;
}
ul{
    list-style: none;
}
a{
    color: #999;
    text-decoration: none;
}
/******************************************************   NAV-BAR   **********************************************************/
.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f7f7;
    height: 5rem;
}
.nav-bar1{
    margin-left: 1rem;
    padding: 0.1rem;
    height: 100%;
}
.nav-bar1 img{
    height: 100%;
}
.nav-bar2{
    display: flex;
    flex-direction: row;
    font-size: large;
    height: 100%;
}
.nav-el{
    color: gray;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
}
.nav-el:hover{
    color: rgb(0, 0, 0);
}

/******************************************************   HERO  **********************************************************/
.hero{

    
    height: 500px;



    background-image: 
        linear-gradient(
            to bottom, 
            rgba(255, 255, 255, 0) 0%,
            rgb(255, 255, 255) 100%
        ),
        url(images/bg-image2.jpg);
    background-size:cover;

}

/******************************************************   WEATHER   **********************************************************/
/******************************************************   FEEDBACK   **********************************************************/
/******************************************************   ABOUT   **********************************************************/
/******************************************************   FOOTER   **********************************************************/
